<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sistema de Titulación - ITA</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/estilos.css">

</head>

<body>

<!-- CINTILLO GOBIERNO -->
<div class="cintillo">
    <img src="img/cintillo-gobierno.png" alt="Gobierno de México">
</div>

<!-- HEADER -->
<header class="header">p

<div class="contenedor-header">

<div class="logos">

<img src="img/logo-sep.png" class="logo-sep">

<img src="img/logo-tecnm.png" class="logo-tecnm">

</div>

<nav class="menu">

<ul>
<li><a href="#">Inicio          </a></li>
<li><a href="#">Trámites        </a></li>
<li><a href="#">Seguimiento     </a></li>
<li><a href="#">Documentos      </a></li>
<li><a href="#">Administración  </a></li>
</ul>

</nav>

</div>

</header>


<!-- CONTENIDO -->
<main class="contenido">

<h1>Sistema de Gestión de Titulación</h1>

<p>
Plataforma para la gestión del proceso de titulación del Instituto Tecnológico de Apizaco.
</p>

</main>


<!-- FOOTER -->
<footer class="footer">

<div class="footer-contenido">

<p>Tecnológico Nacional de México</p>

<p>Instituto Tecnológico de Apizaco</p>

<p>© 2026 Todos los derechos reservados</p>

</div>

</footer>

</body>
</html>